body {
background-color: #EAEAEB;
color: #161616;
font-family: 'Cormorant Garamond', serif;
line-height: 15px;
}


h1, h2 {
font-family: 'Roboto', sans-serif;
}

h1 {
font-size: 30px;
color: rgb(0,0,0);
font-weight: 400;
text-align: center;
}

h2 { 
font-size: 28px;
font-weight: 400;
color: #3C787E;
 }

 p {
 	margin-top: 10px;
 	line-height: 24px;
 }

a{
color: #3C787E;
text-decoration: none;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 400;
transition: color 0.35s ease;

}

 a:hover {
color: black;
 }

 .container {
width: 900px;
margin: 25px auto;
 }
@media (max-width: 1000px) {
.container {
width: 700px;
}
}

@media (max-width: 650px) {
.container {
width: 400px;
}
} 

.card-white {
 	background-color: white;
 	padding: 30px;
 	box-shadow: 1px 10px 30px rgba(0,0,0,0.2);
 	border-radius: 6px;
 	margin: 24px 0px; 
 	text-align: center;
 	border: 5px solid rgba(230,230,230,0.6)
 }


.img-circle{
	border-radius: 50%;
}

.btn-black{
background-color: #3C787E;
color: white;
padding: 8px 10px;
border-radius: 6px;
}

.btn-black:hover {
background-color: black;
color: white;
}

.list-inline{
list-style: none;
padding-left: 0px;
}

.list-inline li {
display: inline;
padding: 10px;
color: 
}

.list-inline i {
font-size: 40px;
}

#intro p {
	margin-bottom: 25px;
}